body {
    min-height: 100vh;
}

.wrapper {
    margin: 0 auto;
    width: 88%;
    max-width: 530px;
}

.screen,
.keypad {
    border-radius: 15px;
}

.keypad__btn {
    height: 65px;
    width: 21.25%;
    padding: 5px 0 0 0;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

input[type=range] {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    appearance: none;
    border-radius: 20px;
    
    &::-webkit-slider-thumb {@include thumb()}
    &::-moz-range-thumb {@include thumb()}
}

a {
    text-decoration: none;
}