/* THEME ONE */
.theme-one {
    background: $theme-one__bg--main;

    .logo,
    .theme,
    .screen {
        color: $theme-one__text--light;
    }       

    input[type=range] {
        background: $theme-one__bg--keypad;

        &::-webkit-slider-thumb { 
            background: $theme-one__key--equals; 

            &:hover {
                background: $theme-one__hover--tertiary;
            }
        }

        &::-moz-range-thumb { 
            background: $theme-one__key--equals; 

            &:hover {
                background: $theme-one__hover--tertiary;
            }
        }
    }

    .screen {
        background: $theme-one__bg--screen;
    }


    .keypad {
        background: $theme-one__bg--keypad;

        &__btn {
            background: $theme-one__key--bg;
            color: $theme-one__text--dark;
            border-bottom-color: $theme-one__key--shadow;

            &:hover {
                background: $theme-one__hover--main;
            }

            &--text,
            &--equals {
                color: $theme-one__text--light;
            }
            
            &--text {
                background: $theme-one__key--secondary;
                border-bottom-color: $theme-one__key--secondary-shadow;

                &:hover {
                    background: $theme-one__hover--secondary;
                }
            }

            &--equals {
                background: $theme-one__key--equals;
                border-bottom-color: $theme-one__key--equals-shadow;

                &:hover {
                    background: $theme-one__hover--tertiary;
                }
            }
        }
    }
}

/* THEME TWO */
.theme-two {
    background: $theme-two__bg--main;

    .logo,
    .theme,
    .screen {
        color: $theme-two__text--dark;
    }       

    input[type=range] {
        background: $theme-two__bg--keypad;

        &::-webkit-slider-thumb { 
            background: $theme-two__key--equals; 

            &:hover {
                background: $theme-two__hover--tertiary;
            }
        }
        &::-moz-range-thumb { 
            background: $theme-two__key--equals;

            &:hover {
                background: $theme-two__hover--tertiary;
            }
        }
    }

    .screen {
        background: $theme-two__bg--screen;
    }


    .keypad {
        background: $theme-two__bg--keypad;

        &__btn {
            background: $theme-two__key--bg;
            color: $theme-two__text--dark;
            border-bottom-color: $theme-two__key--shadow;

            &:hover {
                background: $theme-two__hover--main;
            }

            &--text,
            &--equals {
                color: $theme-two__text--light;
            }
            
            &--text {
                background: $theme-two__key--secondary;
                border-bottom-color: $theme-two__key--secondary-shadow;

                &:hover {
                    background: $theme-two__hover--secondary;
                }
            }

            &--equals {
                background: $theme-two__key--equals;
                border-bottom-color: $theme-two__key--equals-shadow;

                &:hover {
                    background: $theme-two__hover--tertiary;
                }
            }
        }
    }
}

/* THEME THREE */
.theme-three {
    background: $theme-three__bg--main;

    .logo,
    .theme,
    .screen {
        color: $theme-three__text--main;
    }       

    input[type=range] {
        background: $theme-three__bg--screen;

        &::-webkit-slider-thumb { 
            background: $theme-three__key--equals; 

            &:hover {
                background: $theme-three__hover--tertiary;
            }
        }
        &::-moz-range-thumb { 
            background: $theme-three__key--equals; 

            &:hover {
                background: $theme-three__hover--tertiary;
            }
        }
    }

    .screen {
        background: $theme-three__bg--screen;
    }


    .keypad {
        background: $theme-three__bg--keypad;

        &__btn {
            background: $theme-three__key--bg;
            color: $theme-three__text--main;
            border-bottom-color: $theme-three__key--shadow;

            &:hover {
                background: $theme-three__hover--main;
            }

            &--text {
                color: $theme-three__text--light;
                background: $theme-three__key--secondary;
                border-bottom-color: $theme-three__key--secondary-shadow;

                &:hover {
                    background: $theme-three__hover--secondary;
                }
            }
            
            &--equals {
                color: $theme-three__text--dark;
                background: $theme-three__key--equals;
                border-bottom-color: $theme-three__key--equals-shadow;

                &:hover {
                    background: $theme-three__hover--tertiary;
                }
            }
        }
    }
}

