html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: 88%;
  max-width: 530px;
}

.screen,
.keypad {
  border-radius: 15px;
}

.keypad__btn {
  height: 65px;
  width: 21.25%;
  padding: 5px 0 0 0;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

input[type=range] {
  width: 100%;
  height: 25px;
  padding: 0 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 20px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  font-size: 125%;
}

body,
.keypad__btn {
  font-family: "League Spartan";
  font-weight: 700;
}

.logo {
  font-size: 1.6rem;
}

.theme {
  font-size: 0.7rem;
}
.theme label {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.screen,
.keypad__btn,
.attribution {
  letter-spacing: -1px;
}

.screen {
  font-size: 2rem;
}

.keypad__btn {
  font-size: 1.6rem;
}
.keypad__btn--secondary {
  text-transform: uppercase;
}
.keypad__btn--text, .keypad__btn--equals {
  font-size: 1.1rem;
}

/* THEME ONE */
.theme-one {
  background: hsl(222deg, 26%, 31%);
}
.theme-one .logo,
.theme-one .theme,
.theme-one .screen {
  color: hsl(0deg, 0%, 100%);
}
.theme-one input[type=range] {
  background: hsl(223deg, 31%, 20%);
}
.theme-one input[type=range]::-webkit-slider-thumb {
  background: hsl(6deg, 63%, 50%);
}
.theme-one input[type=range]::-webkit-slider-thumb:hover {
  background: hsl(6deg, 93%, 67%);
}
.theme-one input[type=range]::-moz-range-thumb {
  background: hsl(6deg, 63%, 50%);
}
.theme-one input[type=range]::-moz-range-thumb:hover {
  background: hsl(6deg, 93%, 67%);
}
.theme-one .screen {
  background: hsl(224deg, 36%, 15%);
}
.theme-one .keypad {
  background: hsl(223deg, 31%, 20%);
}
.theme-one .keypad__btn {
  background: hsl(30deg, 25%, 89%);
  color: hsl(221deg, 14%, 31%);
  border-bottom-color: hsl(28deg, 16%, 65%);
}
.theme-one .keypad__btn:hover, .theme-one .keypad__btn:focus-visible {
  background: hsl(0deg, 0%, 92%);
}
.theme-one .keypad__btn--text, .theme-one .keypad__btn--equals {
  color: hsl(0deg, 0%, 100%);
}
.theme-one .keypad__btn--text {
  background: hsl(225deg, 21%, 49%);
  border-bottom-color: hsl(224deg, 28%, 35%);
}
.theme-one .keypad__btn--text:hover, .theme-one .keypad__btn--text:focus-visible {
  background: hsl(224deg, 51%, 76%);
}
.theme-one .keypad__btn--equals {
  background: hsl(6deg, 63%, 50%);
  border-bottom-color: hsl(6deg, 70%, 34%);
}
.theme-one .keypad__btn--equals:hover, .theme-one .keypad__btn--equals:focus-visible {
  background: hsl(6deg, 93%, 67%);
}

/* THEME TWO */
.theme-two {
  background: hsl(0deg, 0%, 90%);
}
.theme-two .logo,
.theme-two .theme,
.theme-two .screen {
  color: hsl(60deg, 10%, 19%);
}
.theme-two input[type=range] {
  background: hsl(0deg, 5%, 81%);
}
.theme-two input[type=range]::-webkit-slider-thumb {
  background: hsl(25deg, 98%, 40%);
}
.theme-two input[type=range]::-webkit-slider-thumb:hover, .theme-two input[type=range]::-webkit-slider-thumb:focus-visible {
  background: hsl(25deg, 100%, 61%);
}
.theme-two input[type=range]::-moz-range-thumb {
  background: hsl(25deg, 98%, 40%);
}
.theme-two input[type=range]::-moz-range-thumb:hover, .theme-two input[type=range]::-moz-range-thumb:focus-visible {
  background: hsl(25deg, 100%, 61%);
}
.theme-two .screen {
  background: hsl(0deg, 0%, 93%);
}
.theme-two .keypad {
  background: hsl(0deg, 5%, 81%);
}
.theme-two .keypad__btn {
  background: hsl(45deg, 7%, 89%);
  color: hsl(60deg, 10%, 19%);
  border-bottom-color: hsl(35deg, 11%, 61%);
}
.theme-two .keypad__btn:hover, .theme-two .keypad__btn:focus-visible {
  background: hsl(0deg, 0%, 100%);
}
.theme-two .keypad__btn--text, .theme-two .keypad__btn--equals {
  color: hsl(0deg, 0%, 100%);
}
.theme-two .keypad__btn--text {
  background: hsl(185deg, 42%, 37%);
  border-bottom-color: hsl(185deg, 58%, 25%);
}
.theme-two .keypad__btn--text:hover, .theme-two .keypad__btn--text:focus-visible {
  background: hsl(185deg, 41%, 56%);
}
.theme-two .keypad__btn--equals {
  background: hsl(25deg, 98%, 40%);
  border-bottom-color: hsl(25deg, 99%, 27%);
}
.theme-two .keypad__btn--equals:hover, .theme-two .keypad__btn--equals:focus-visible {
  background: hsl(25deg, 100%, 61%);
}

/* THEME THREE */
.theme-three {
  background: hsl(268deg, 75%, 9%);
}
.theme-three .logo,
.theme-three .theme,
.theme-three .screen {
  color: hsl(52deg, 100%, 62%);
}
.theme-three input[type=range] {
  background: hsl(268deg, 71%, 12%);
}
.theme-three input[type=range]::-webkit-slider-thumb {
  background: hsl(176deg, 100%, 44%);
}
.theme-three input[type=range]::-webkit-slider-thumb:hover, .theme-three input[type=range]::-webkit-slider-thumb:focus-visible {
  background: hsl(177deg, 100%, 79%);
}
.theme-three input[type=range]::-moz-range-thumb {
  background: hsl(176deg, 100%, 44%);
}
.theme-three input[type=range]::-moz-range-thumb:hover, .theme-three input[type=range]::-moz-range-thumb:focus-visible {
  background: hsl(177deg, 100%, 79%);
}
.theme-three .screen {
  background: hsl(268deg, 71%, 12%);
}
.theme-three .keypad {
  background: hsl(268deg, 71%, 12%);
}
.theme-three .keypad__btn {
  background: hsl(268deg, 47%, 21%);
  color: hsl(52deg, 100%, 62%);
  border-bottom-color: hsl(290deg, 70%, 36%);
}
.theme-three .keypad__btn:hover, .theme-three .keypad__btn:focus-visible {
  background: hsl(265deg, 57%, 46%);
}
.theme-three .keypad__btn--text {
  color: hsl(0deg, 0%, 100%);
  background: hsl(281deg, 89%, 26%);
  border-bottom-color: hsl(285deg, 91%, 52%);
}
.theme-three .keypad__btn--text:hover, .theme-three .keypad__btn--text:focus-visible {
  background: hsl(265deg, 57%, 46%);
}
.theme-three .keypad__btn--equals {
  color: hsl(198deg, 20%, 13%);
  background: hsl(176deg, 100%, 44%);
  border-bottom-color: hsl(177deg, 92%, 70%);
}
.theme-three .keypad__btn--equals:hover, .theme-three .keypad__btn--equals:focus-visible {
  background: hsl(177deg, 100%, 79%);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  height: 100;
}

/* HEADER */
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
header .wrapper .logo {
  margin-left: 10px;
}
header .wrapper .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header .wrapper .theme label {
  padding-bottom: 7px;
}
header .wrapper .theme__slider {
  width: 60px;
  margin-left: 20px;
}
header .wrapper .theme__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* SCREEN DISPLAY */
.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(80px, 11.99vh, 108px);
  margin-bottom: 25px;
  padding: 0 clamp(25px, 10.25%, 54px) 0 clamp(15px, 9%, 40px);
}
.screen p {
  padding-top: 10px;
  overflow: scroll;
}

/* KEYPAD */
.keypad {
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(4, 1fr);
  grid-gap: clamp(12.5px, 5%, 26.5px);
  height: 465px;
  padding: clamp(24.5px, 3.67vh, 30px);
}
.keypad__btn {
  width: 100%;
}
.keypad__btn--double {
  grid-column: span 2;
}

/* FOOTER */
footer {
  display: none;
}

@media (min-height: 750px) {
  .screen {
    font-size: 2.4rem;
  }

  .keypad__btn {
    font-size: 1.8rem;
  }
  .keypad__btn--text, .keypad__btn--equals {
    font-size: 1.3rem;
  }
}